<!--<p class="modal-footer" 
style="
left: 0;
bottom: 0;
width: 100%;
background-color: white;
color: black;
text-align: center;">&copy; Made with Blood, Sweat, &amp; Tears by {{author}}</p>-->
<div>
	<p align="center">&copy; Created with blood, sweat, &amp; tears by {{ author }}</p>
</div>