{% extends "base.html" %}
{% block title %} LingIn: Friend List {% endblock %}
{% block content %}
<h2 style="text-align: center; margin-top: 30px; font-family: Open Sans; font-weight: bold;">{{ name }}'s Friends List</h2>
<hr/>
<section name="status-input" id="status-input">
    <div class="container">
        <form id="form" method="POST" action="{% url 'add-friend:add_friend' %}">
            <h3 style="font-family: Open Sans; font-weight: bold;" ><i class="fa fa-user-plus" aria-hidden="true"></i> Add New Friend</h3>
            <hr>
            {% csrf_token %}
            {{ friend_form }}
            <br>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Add Friend">
        </form>
    </div>
</section>
<br>
<br>
<section name="my-list" id="my-list">
    <div class="flex-addfriend">
        {% if friends %}
            {% for friend in friends %}
                <div class="flex-friend-item">
                    <div class="to-do-list">
                        <div class="to-do-list-title">
                            {{friend.name}}
                        </div>
                        <div class="to-do-list-date-added">
                             Added {{friend.created_date}}
                        </div>
                        <div class="friend-display-picture">
                            <img src="https://cdn.vectorstock.com/i/thumb-large/27/13/14292713.jpg" style="border-radius: 50%;" width="125px" height="125px" align="center">
                        </div>
                        <div class="to-do-list-description">
                            <a href="http://{{ all_friends.url }}/">{{friend.url}}</a>
                        </div>
                        <div class="to-do-list-delete">
                            <a style="text-decoration: none; color: white" href="{% url 'add-friend:delete_friend' friend.id %}"><div class="to-do-list-delete-button" data-id="{{friend.id}}"><i class="fa fa-times" aria-hidden="true"></i> Unfriend</div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="alert alert-danger text-center">
            <strong>Sorry!</strong> You dont have friends.
        </div>
        {% endif %}
    </div>
</section>
<br>
{% endblock %}
