{% extends "base.html" %}
{% block title %} LingIn: {{ name }} {% endblock %}
{% block content %}

<div class="container">
    <h1 align="center" style="font-weight: bold;">Edit Profile</h1>
</div>
<form method="POST" action="/halaman-profile/submit" style="margin-top: 20px; margin-left:20px">
    {% csrf_token %}
    <!-- <input type='hidden' name='csrfmiddlewaretoken' value='A0AfF6yWE42VQOahgwFQYaNn8op8yset3MpVqhAUxLXZMK7o3hnvXE5a4m4Q5zsQ' /> -->
    <div class="container">
        <div class="row">
            <div class="formEdit">
                <div class="col-sm-1"></div>
                <div class="col-sm-6    ">
                    <input type="hidden" name="id" value="1">
                    <h4 style="margin-top: 10px">Name:</h4>
                    <input type="text" name="name" value= "{{default.name}}" size="30" id="roundcorner">
                    <h4 style="margin-top: 10px">Birthday:</h4>
                    <input type="date" name="birthday" value="{{default.birthday}}" size="20" id="roundcorner">
                    <h4 style="margin-top: 10px">Gender:</h4>
                    <input type="radio" name="gender" value="Male">Male
                    <input type="radio" name="gender" value="Female"checked>Female     
                    <h4 style="margin-top: 10px">Email:</h4>
                    <input type="email" name="email" value="{{default.email}}" size="30" id="roundcorner">
                    <h4 style="margin-top: 10px">Expertise:</h4>
                    <input type="text" name="expertise" value="{{default.expertise}}" size="50" id="roundcorner">
                </div>
                <div class="col-sm-3" style="margin-top: 5px">
                    <h4 style="margin-top: 10px">Description:</h4>
                    <textarea type="paragraph_text" name="description" cols="30" rows="20" id="roundcorner">{{default.description}}</textarea>
                    
                    <button type="submit" class="btn btn-primary float" id="button" style="margin-top: 20px">Submit</button>
                    <a class="btn btn-primary float" style="margin-top: 20px; margin-left: 10px" id="button" href="/halaman-profile/">Cancel</a>    
                    
                </div>
            </div>    
        </div>
    </div>
</form>
<!-- <script type="text/javascript">
    $( "#gender" ).change(function() {
        var gdr = $('#gender').find(":selected").text();
        if(gdr=="Male"){
            $('#Male').prop('checked',true);
        }
        else if(gdr=="Female"){
            $('#Female').prop('checked',true);
        } 
    });
</script> -->
{% endblock %}