{% extends "base.html" %}
{% block title %} LingIn: {{ name }} {% endblock %}
{% block content %}

<img src="https://image.ibb.co/b7nmvb/great_background_of_blonde_woman_laughing_23_2147631737.jpg" style="border-radius: 50%; display: block; margin: 0 auto" width="200px" height="200px">
<div>
	<h1 align="center" style="font-weight: bold; font-family: Open Sans">{{ default.name }}<a href="/halaman-profile/edit_profile"><i class="fa fa-cog" aria-hidden="true"></i>
</a></h1>
</div>
<p align="center" style="font-weight: bold; font-family: Open Sans; font-size: 17px; word-wrap: break-word;">"{{ default.description }}"</p>
<hr/>
<section name="bio">
    <div class="row" style="margin-top: 15px; font-family: Open Sans">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2" style=""><b>Birthday</b></h5>
        <h5 class="col-sm-5">{{ default.birthday }}</h5>
    </div>
    <div class="row" style="font-family: Open Sans">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Gender</b></h5>
        <h5 class="col-sm-5">{{ default.gender }}</h5>
    </div>
    <div class="row" style="font-family: Open Sans">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Expertise</b></h5>
        <h5 class="col-sm-5">
            {% for i in expertise %}
            <span class="badge" style="background-color: #0C699E; border-spacing: 30px;">{{ i }}</span>
            {% endfor %}    
        </h5>
    </div>
    <div class="row" style="font-family: Open Sans">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Email</b></h5>
        <h5 class="col-sm-5">{{ default.email }}</h5>
    </div>
</section>
<br>
<br>
{% endblock %}
