{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="TUGAS 1">
	<meta name="author" content="{{author}}">
	<!-- bootstrap css -->
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<title>
		{% block title %} Tugas 1 Perancangan &amp; Pemrograman Web {% endblock %}
	</title>
</head>
<style>
	.container, .footer, .header {
		font-family: "Roboto", "sans-serif";
		font-weight: normal;
	}

</style>
<body style="background-color: white">
	<header class="header">
		{% include "partials/header.html" %}
	</header>
	<content>
		<div class="container">
			{% block content %}
				<!-- content goes here -->
			{% endblock %}
		</div>
	</content>

	<footer class="footer">
		{% block footer %}
		{% include "partials/footer.html" %}
		{% endblock %}
	</footer>
	<!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
