#input-list form{
	width: 400px;
	margin: 500px auto;
	text-align: center;
	position: relative;
	z-index: 1;
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	position: relative;
}